<h2>Farkle</h2>
<div class="die one">  <span class="dot"></span></div>
<div class="die two">  <span class="dot"></span></div>
<div class="die three"><span class="dot"></span></div>
<div class="die four"> <span class="dot"></span></div>
<div class="die five"> <span class="dot"></span></div>
<div class="die six">  <span class="dot"></span></div><br>

<%= link_to "Play", new_game_path, class: "btn" %>