<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
  		<a class= "brand" href="/">Farkle</a>
  		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  		<span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </a>  
      <div class="nav-collapse collapse">
      	<ul class="nav pull-right">
          <li><%= link_to "New Game", new_game_path %></li>
          <li><%= link_to "Quit Game", root_path, method: :delete, data: {confirm: "Are you sure?" } %></li>
        </ul>
      </div>
		</div>
	</div>
</header>

